.fixed-bottom-right {
    position: fixed;
    bottom: 20px; /* Adjust this value to set the distance from the bottom */
    right: 20px; /* Adjust this value to set the distance from the right */
}
.bkround{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    height: 100px;

}
.bkrounds{
    background:#4a5ec3;
}